<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title th:text="#{title.management.client}"></title>
  <th:block th:replace="~{fragment/general :: headerfiles}"/>
  <script>
    function onChangeSecret(clientId) {
      const newSecret = prompt("[[#{message.client.confirmUpdateSecret}]]");
      if (newSecret) {
        document.getElementById("secretUpdate_" + clientId).value = newSecret;
        document.getElementById("secretForm_" + clientId).submit();
      }
    }

    function confirmDelete(id) {
      const deleteForm = document.getElementById("deleteForm_" + id);
      const agree = confirm("[[#{message.client.confirmDelete}]]");
      if (agree) {
        deleteForm.submit();
      }
    }
  </script>
</head>
<body>
<div class="container" sec:authorize="isAuthenticated()">
  <header th:insert="~{fragment/general :: header}"></header>
  <div><h4 th:text="#{title.client.clientList}"></h4></div>
  <div class="d-flex w-100 justify-content-end">
    <a class="btn btn-primary my-2" th:href="@{/client/create}">
      <i class="bi bi-plus"></i> Create new</a>
  </div>
  <div th:replace="~{fragment/general :: message}"></div>
  <table class="table table-striped table-bordered table-responsive">
    <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th th:text="#{title.client.clientID}"></th>
      <th th:text="#{title.client.clientSecret}"></th>
      <th th:text="#{title.client.resourceIDs}"></th>
      <th th:text="#{title.client.scopes}"></th>
      <th th:text="#{title.client.autoApproveScopes}"></th>
      <th th:text="#{title.client.grantTypes}"></th>
      <th th:text="#{title.client.authorities}"></th>
      <th th:text="#{title.client.redirectURIs}"></th>
      <th th:text="#{title.client.accessTokenValiditySec}"></th>
      <th th:text="#{title.client.refreshTokenValiditySec}"></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client, iter: ${clientList}">
      <td><span th:text="${iter.index + 1}"></span></td>
      <td><span th:text="${client.clientId}"></span></td>
      <td class="text-break"><span th:text="${client.clientSecret}"></span>
        <span style="color: red" th:if="${client.secretRequired}" th:text="${'(*)'}"></span>
        <button class="btn btn-sm btn-warning" onclick="onChangeSecret(this.getAttribute('data-thing'))"
                th:data-thing="${client.clientId}">
          <i class="bi bi-pencil-square" style="font-size: 1rem;"></i>
        </button>
        <form th:action="@{'/client/update-secret/' + ${client.clientId}}"
              th:id="secretForm_ + ${client.clientId}" th:method="POST">
          <label><input th:id="secretUpdate_ + ${client.clientId}" th:name="newSecret"
                        type="hidden"></label>
        </form>
      </td>
      <td><span th:if="${client.resourceIds}"
                th:text="${#strings.setJoin(client.resourceIds,', ')}"></span></td>
      <td>
        <th:block th:if="${client.scoped}">
          <span th:text="${#strings.setJoin(client.scope,', ')}"></span></th:block>
      </td>
      <td><span th:if="${client.autoApproveScopes}"
                th:text="${#strings.setJoin(client.autoApproveScopes,', ')}"></span></td>
      <td><span th:if="${client.authorizedGrantTypes}"
                th:text="${#strings.setJoin(client.authorizedGrantTypes,', ')}"></span></td>
      <td><span th:if="${client.authorities}"
                th:text="${#strings.setJoin(client.authorities,', ')}"></span></td>
      <td><span th:if="${client.registeredRedirectUri}"
                th:text="${#strings.setJoin(client.registeredRedirectUri,', ')}"></span></td>
      <td><span th:text="${client.accessTokenValiditySeconds}"></span></td>
      <td><span th:text="${client.refreshTokenValiditySeconds}"></span></td>
      <td>
        <a class="btn btn-sm btn-warning d-inline-block"
           th:href="@{'/client/update/' + ${client.clientId}}">
          <i class="bi bi-pencil-fill"></i></a>
        <form class="d-inline-block" th:action="@{/client/delete}"
              th:id="deleteForm_ + ${client.clientId}"
              th:method="POST">
          <label><input th:name="id" th:value="${client.clientId}" type="hidden"></label>
          <button class="btn btn-sm btn-danger" onclick="confirmDelete(this.getAttribute('data-thing'));"
                  th:data-thing="${client.clientId}"
                  type="button">
            <i class="bi bi-trash-fill"></i></button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <div th:replace="~{fragment/general :: footer}"></div>
</div>
</body>
</html>