<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title th:text="#{title.management.user}"></title>
  <th:block th:replace="~{fragment/general :: headerfiles}"/>
  <script>
    function togglePasswordVisibility(id) {
      if (document.getElementById("password_" + id).type === "password") {
        document.getElementById("password_" + id).type = "text";
      } else {
        document.getElementById("password_" + id).type = "password";
      }
    }

    function enableEdit(username) {
      if (document.getElementById('user_' + username).hasAttribute("enabled")) {
        document.getElementById("encoded_password_" + username).style.display = "block";
        document.getElementById("raw_password_" + username).style.display = "none";
        document.getElementById('enabled_' + username).disabled = true;
        document.getElementById('account_locked_' + username).disabled = true;
        document.getElementById('account_expired_' + username).disabled = true;
        document.getElementById('credentials_expired_' + username).disabled = true;
        document.getElementById('groups_' + username).disabled = true;
        document.getElementById('save_btn_' + username).disabled = true;
        document.getElementById('user_' + username).removeAttribute("enabled");
      } else {
        document.getElementById("encoded_password_" + username).style.display = "none";
        document.getElementById("raw_password_" + username).style.display = "block";
        document.getElementById('enabled_' + username).disabled = false;
        document.getElementById('account_locked_' + username).disabled = false;
        document.getElementById('account_expired_' + username).disabled = false;
        document.getElementById('credentials_expired_' + username).disabled = false;
        document.getElementById('groups_' + username).disabled = false;
        document.getElementById('save_btn_' + username).disabled = false;
        document.getElementById('user_' + username).setAttribute("enabled", null);
      }
    }

    function disableEdit(username) {
      document.getElementById("encoded_password_" + username).style.display = "block";
      document.getElementById("raw_password_" + username).style.display = "none";
      document.getElementById('enabled_' + username).disabled = true;
      document.getElementById('account_locked_' + username).disabled = true;
      document.getElementById('account_expired_' + username).disabled = true;
      document.getElementById('credentials_expired_' + username).disabled = true;
      document.getElementById('groups_' + username).disabled = false;
      document.getElementById('save_btn_' + username).disabled = true;
      document.getElementById('user_' + username).removeAttribute("enabled");
    }

    function updateUser(username) {
      const agree = confirm('Do you want to save?');
      if (agree) {
        document.forms['updateForm_' + username]['password'].value
            = document.getElementById('password_' + username).value;
        document.forms['updateForm_' + username]['enabled'].value
            = document.getElementById('enabled_' + username).checked;
        document.forms['updateForm_' + username]['account_locked'].value
            = document.getElementById('account_locked_' + username).checked;
        document.forms['updateForm_' + username]['account_expired'].value
            = document.getElementById('account_expired_' + username).checked;
        document.forms['updateForm_' + username]['credentials_expired'].value
            = document.getElementById('credentials_expired_' + username).checked;
        const selectedValues = Array
        .from(document.getElementById('groups_' + username).selectedOptions)
        .map(el => el.value);
        document.forms['updateForm_' + username]['groups'].value
            = selectedValues.join(",");
        document.forms['updateForm_' + username].submit();
        disableEdit(username);
      }
    }
  </script>
</head>
<body>
<div class="container" sec:authorize="hasAuthority(@roleConstants.USER_MANAGEMENT)" th:with="uPage=${userPage}">
  <header th:insert="~{fragment/general :: header}"></header>
  <div><h4 th:text="#{title.user.list}"></h4></div>
  <div class="d-flex w-100 justify-content-end">
    <a class="btn btn-primary my-2" th:href="@{/client/create}">
      <i class="bi bi-plus"></i> Create new</a>
  </div>
  <div th:replace="~{fragment/general :: message}"></div>
  <table class="table table-striped table-bordered table-responsive">
    <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th th:text="#{title.user.username}"></th>
      <th th:text="#{title.user.encodedPassword}"></th>
      <th th:text="#{title.user.accountEnabled}"></th>
      <th th:text="#{title.user.accountLocked}"></th>
      <th th:text="#{title.user.accountExpired}"></th>
      <th th:text="#{title.user.credentialExpired}"></th>
      <th th:text="#{title.user.group}"></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user, iter: ${userPage}" th:id="user_ + ${user.username}">
      <td><span th:text="${iter.index + 1}"></span></td>
      <td><span th:text="${user.username}"></span></td>
      <td class="form-group" style="max-width: 20rem; word-wrap: break-word;">
        <p th:id="encoded_password_ + ${user.username}" th:text="${user.password}"></p>
        <div style="display: none;" th:id="raw_password_ + ${user.username}">
          <input th:id="password_ + ${user.username}" type="password">
          <button class="btn btn-sm btn-link" onclick="togglePasswordVisibility(this.getAttribute('data-thing'))"
                  th:data-thing="${user.username}">
            <i class="bi bi-eye-slash"></i>
          </button>
        </div>
      </td>
      <td>
        <div class="form-check d-flex justify-content-center">
          <label class="form-check-label" th:for="enabled_ + ${user.username}">
            <input class="form-check-input" disabled th:checked="${user.enabled}"
                   th:id="enabled_ + ${user.username}" type="checkbox">
          </label>
        </div>
      </td>
      <td>
        <div class="form-check d-flex justify-content-center">
          <label class="form-check-label" th:for="account_locked_ + ${user.username}">
            <input class="form-check-input" disabled th:checked="${!user.accountNonLocked}"
                   th:id="account_locked_ + ${user.username}" type="checkbox">
          </label>
        </div>
      </td>
      <td>
        <div class="form-check d-flex justify-content-center">
          <label class="form-check-label" th:for="account_expired_ + ${user.username}">
            <input class="form-check-input" disabled th:checked="${!user.accountNonLocked}"
                   th:id="account_expired_ + ${user.username}" type="checkbox">
          </label>
        </div>
      </td>
      <td>
        <div class="form-check d-flex justify-content-center">
          <label class="form-check-label" th:for="credentials_expired_ + ${user.username}">
            <input class="form-check-input" disabled
                   th:checked="${!user.credentialsNonExpired}"
                   th:id="credentials_expired_ + ${user.username}" type="checkbox">
          </label>
        </div>
      </td>
      <td style="min-width: 8rem">
        <div>
          <select aria-label="multiple select" class="form-select" disabled multiple
                  size="2" th:id="groups_ + ${user.username}">
            <option th:each="group: ${groupList}" th:selected="${user.groupList.contains(group)}"
                    th:text="${group.name}" th:value="${group.id}"></option>
          </select>
        </div>
      </td>
      <td style="min-width: 7rem">
        <form class="d-inline-block" th:action="@{/user/update}"
              th:id="updateForm_ + ${user.username}" th:method="POST">
          <button class="btn btn-sm btn-warning d-inline-block mx-1" onclick="enableEdit(this.getAttribute('data-thing'))"
                  th:data-thing="${user.username}"
                  type="button">
            <i class="bi bi-pencil-fill"></i>
          </button>
          <button class="btn btn-sm btn-primary d-inline-block mx-1" disabled onclick="updateUser(this.getAttribute('data-thing'));"
                  th:data-thing="${user.username}"
                  th:id="save_btn_ + ${user.username}"
                  type="button">
            <i class="bi bi-save"></i>
          </button>
          <label><input th:name="username"
                        th:value="${user.username}" type="hidden"></label>
          <label><input th:name="password"
                        type="hidden" value=""></label>
          <label><input th:name="enabled"
                        th:value="${user.enabled}" type="hidden"></label>
          <label><input th:name="account_locked"
                        th:value="${!user.accountNonLocked}" type="hidden"></label>
          <label><input th:name="account_expired"
                        th:value="${!user.accountNonExpired}" type="hidden"></label>
          <label><input th:name="credentials_expired"
                        th:value="${!user.credentialsNonExpired}"
                        type="hidden"></label>
          <label><input th:name="groups" type="hidden"></label>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex" th:with="firstPage=${uPage.number - 2 >= 0} ? ${uPage.number - 1} : 1,
                 lastPage=${uPage.number + 2 <= uPage.totalPages - 1} ? ${uPage.number + 3} : ${uPage.totalPages}">
    <ul class="pagination ms-auto" th:with="lastPageTmp=${uPage.number < 2 && uPage.totalPages > 5} ? ${6 - firstPage} : ${lastPage},
                           firstPageTmp=${uPage.number > uPage.totalPages - 3 && uPage.totalPages > 5} ? ${lastPage - 4} : ${firstPage}">
      <li class="page-item">
        <a class="page-link" th:href="@{/user/list(page=0)}"
           th:if="${!uPage.first}">&lt&lt</a>
      </li>
      <li class="page-item">
        <a class="page-link" th:href="@{/user/list(page=${uPage.number - 1})}"
           th:if="${!uPage.first}">&lt</a>
      </li>
      <li class="page-item"
          th:classappend="${page == uPage.number + 1} ? 'active' : ''" th:each="page: ${(uPage.totalPages > 5) ?
                    (#numbers.sequence(firstPageTmp, lastPageTmp)) : (#numbers.sequence(1, uPage.totalPages))}">
        <a class="page-link" th:href="@{/user/list(page=${page - 1})}"
           th:text="${page}">
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" th:href="@{/user/list(page=${uPage.number + 1})}"
           th:if="${!uPage.last}">&gt</a>
      </li>
      <li class="page-item">
        <a class="page-link" th:href="@{/user/list(page=${uPage.totalPages - 1})}"
           th:if="${!uPage.last}">&gt&gt</a>
      </li>
    </ul>
  </div>
  <div th:replace="~{fragment/general :: footer}"></div>
</div>
</body>
</html>